@page
@model VálasztásWebApp.Pages.AdatokFeltolteseFajlbolModel
@{
}
<h1>Adatok Feltöltése Szöveges Fájlból</h1>
<form method="post" enctype="multipart/form-data">
    <label asp-for="UploadFile">Add meg a fájlt!</label>
    <input asp-for="UploadFile" type="file" name="Browse"/>
    <input type="submit" value="Upload" />
</form>

